{% include header.html %}

    <section id="title" class="concrete">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Services</h1>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Security Industry</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section id="services" class="container">
      <div class="row">
         <div class="col-sm-4 ">
                                <div class="center">

                                        <i class="fa fa-lock" style="font-size: 15em;"></i>

                                </div>
                            </div>
          <div class="col-sm-8">
              <h2>Security Industry</h2>
              <p>
                The <b>Physical Security Industry</b> remains robust and dynamic. Armed with
decades of industry experience, we are uniquely qualified to help you face the
challenges and seize the opportunities of this vibrant industry. Strong market
demand in our increasingly competitive industry is still driving annual growth in
excess of 10%. The security industry has outgrown GDP for decades running,
but is changing rapidly. Ensure that you have the right team working for your
security business.</p><p>
              Mr. Durant got his start in the physical security industry at Interactive Technologies, Inc. (“ITI), the pioneer of wireless security.
Beginning in 1989, he served as outside legal counsel and joined its parent company - ITI Technologies (NASDAQ: ITII) – in 1995
as Vice President and General Counsel. He also served as President of ITI Finance Corporation, which was eventually sold to GE
Capital.
</p><p>
ITI changed its name to Interlogix when it merged with SLC Technologies in 2000 and then to GE Security when acquired by
General Electric in 2002. From 1995 to 2005, Mr. Durant held executive level positions with GE Security, Inc., wholly-owned
subsidiary of General Electric.
</p><p>
Mr. Durant most recently served as President of Residential Solutions for GE Security, with responsibility for the global
residential security market and development of intrusion control and wireless technology in support of GE Security’s entire
customer base.  
</p><p>
During his 10-year tenure at GE Security, Mr. Durant achieved prominence in the security industry, speaking at numerous
industry events and serving on the board of directors of the Security Industry Association (SIA).
</p><p>
Mr. Durant continues to be active in the security industry with both investment and managerial contributions to a number of
early-stage security technology companies.
 </p>            </div>

                </div>

              <div class="row">
                <div class="col-md-12">
                    <div class="center gap">
                        <h2><BR><BR>Other Services</h2>

                    </div>
                </div>
            </div>
        <div class="row">
        <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <a href="MAservices.html" style="color: inherit;">
                            <i class="fa fa-institution icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">M&A Advisory</h3>
                        </p>
                            <p>Our understanding of both the seller’s and
                                buyer’s perspectives makes us effective, zealous advocates of your interests.</p>
                        </a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
        <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <a href="BusinessServices.html" style="color: inherit;">
                            <i class="fa fa-line-chart icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Business Advisory</h3>

                            <p>With over 30 years of hands-on business experience, we expediently identify both problems and opportunities and provide practical solutions your business can use.</p>
                        </a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
        <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <a href="ArbitrationServices.html" style="color: inherit;">
                            <i class="fa fa-gavel icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Commercial Mediation</h3>

                            <p>We offer alternative dispute resolution services – mediation
and arbitration – for commercial disputes.</p>
                        </a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
        </div>
    </section><!--#faqs-->

{% include footer.html %}
